.mainRow
{
    height: 100%;
    width: 100%;
}

.container-fluid
{
    height: 100%;
    width: 100%;
}

html, body
{
    height: 100%;
    width: 100%;
}

.userSideBarColumn
{
    background-color:ghostwhite;
    height: 100%;
    width: 20%;
}

#userSideBarId.active {
    margin-left: -20%;
}

.userMainColumn
{
    width: 80%;
}

.userMainColumnExpanded
{
    width: 100%;
}

.entireUserSection
{
    align-items: stretch;
    display: flex;
}

.btn
{
    -webkit-transition-duration: 0.3s; /*for hover function*/
    transition-duration: 0.3s;         /*for hover function*/
    background-color:skyblue;
    color: white;
    border-width: 1px;
    border-color: gray;
}

.stdPlusSign
{
    -webkit-transition-duration: 0.3s; /*for hover function*/
    transition-duration: 0.3s;         /*for hover function*/
    color:skyblue;
    border-width: 1px;
    border-color: gray;
    float: right;
}

#sidebarCollapseWrapper
{
    padding-right: 0%;
}

.sideBarButton
{
    font-size:100%;
    text-align: center;
    width: 100%;
}

.btn:hover
{
    background-color: lightblue;
    color: white;
}

.stdPlusSign:hover
{
    color: lightblue;
}

.announcements
{
    background-color: black;
}
/* add color to values of interest */
.redText
{
    color:red
}

.greenText
{
    color:green
}

.blackText
{
    color:black
}

#newDataInputModal
{
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    position: absolute;
    overflow: auto;
    padding-top: 5em;
}

.modal-content
{
    margin: auto;
    padding: 1em;
    border: 1px solid #888;
    width: 50%;
    line-height: 1em;
}